header {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    background-color:  rgba(240, 160, 11, 0.945);
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}
  
.avatar-name h2 {
    margin: 0px;
  }



  @media only screen and (min-width: 1024px) {
    #header-part{
      margin: 2em;
      margin-top: 5em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    #main-header{
  
      margin: 2em;
      margin-left: 0.5em;
      margin-top: 2em;
      width: 30%;
      height: 350px;
    }
  
    #profile-image{
      width: 200px;
      background-color: transparent;
    }
  
    .container {
      width: 60%;
    }
  
    main {
      margin: 1em;
    }
  
  
  
   }   