 
#main-header{
  background-color: #e5a63c;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  color: #fff;
}



#main-header span {
  font-weight: 300;
}

@media only screen and (min-width: 1024px) {
  #main-header {
    margin: 200px 50px 0;
  }
}


