.new-tweet {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .tweet-form {
    display: flex;
    flex-direction: column;
  }
  
  .tweet-form label {
    font-weight: bold;
  }
  
  #tweet-text {
    border-style: none;
    border-bottom: 5px solid black;
    background-color: inherit;
    outline: none;
    font-size: 80%;
    height: 30;
  }
  
  .tweet-form footer {
    display: flex;
    justify-content: space-between;
    margin-top:1em;
    font-family:'Bungee', sans-serif;
  }
  
  
  footer button {
    background-color:#4056A1;
    color: white;
  }
  
  footer .red{
    color: red;
  }
  
  #error-message {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 5px solid red;
  }
  
  #error-message img{
    width: 50px;
    height: 50px;
  
  }
  
  .hidden{
    visibility: visible; 
    /* border: 5px solid green; */
  }
  

  .visible {
    visibility: visible;
  }


  #error-text {
    color: red;
    
  }